/* TREE VIEW FIXES */

div.list__group__items > div.list__tile,
div.list__group__items div.list {
	margin-left: 7px;
}

.list__group--active::before {
	background: initial !important;
}

.list__group::after {
	height: 0px !important;
}

.list-hotfix {
    flex: 1 1 auto !important;
    overflow: hidden;
}
.list-hotfix > .list__tile {
	padding-left: 0px;
}

.list__tile__action {
/* 	max-width: 24px !important; */
	min-width: 40px !important;
}

div.spacer {
	height: 10px;
}

aside.navigation-drawer {
	padding-bottom: 0px;
}

aside.navigation-drawer > div.list {
	display: flex;
	flex-direction: column;
	height: 100%;
}

div.splitter {
/* 	flex: 1; */
	border-bottom: 1px solid #DDD;
}

/* END TREE VIEW FIXES */

[v-cloak] {
	display: none;
}

.tag, .badge, .label {
	background-color: #000;
	border-color: #000;
	color: #fff;
	display: inline-block;
	padding-left: 8px;
	padding-right: 8px;
	text-align: center;
	border-radius: 50%;
	font-weight: bold;
}

 .label {
 	border-radius: 10%;
 	width: initial;
	height: initial;
 }

.bordered {
	background-color: white;
}

.danger {
	background-color: red;
	color: #fff;
}

.info {
	background-color: rgb(33, 150, 243);
	border-color: rgb(33, 150, 243);
	color: #fff;
}

.warn {
	background-color: rgb(255, 152, 0);
	border-color: rgb(255, 152, 0);
	color: #fff;
}

.success {
	background-color: rgb(76, 175, 80);
	border-color: rgb(76, 175, 80);
	color: #fff;
}

/* split panel content */
.split-panel .column-left {
	border-right: 1px solid grey;
	padding-right: 0;
}

.split-panel .column-right {
	padding: 0px;
}
/* split panel content */


/* paddings and marings */
.padding-20 {
	padding: 20px;	
}

.padding-left-20 {
	padding-left: 20px;	
}

.padding-right-20 {
	padding-right: 20px;	
}