<v-btn type="$!{component.componentType().internalName()}" uuid="$!{component.uuid()}" depressed flat #if ($component.localtion()) href="$component.location()" #end class="$!{component.getCssStyleString()}" $!events>
	{{componentStates.$!{component.uuid()}.text}}
</v-btn>
