 <v-text-field
	uuid="${_uuid}" 
	:class="${_state}.styleClasses" $!events
	name="input-$!{component.uuid}"
	:label="localize(${_state}.label)"
	:placeholder="localize(${_state}.placeholder)"
	:multi-line="${_state}.multiLine"
	:value="localize(${_state}.text)"
	v-bind="${_state}.attributes"
	:flat="${_state}.flat"
	v-show="${_state}.visible"
	>
          
</v-text-field>