<v-layout 
	uuid="${_uuid}" 
	:class="${_state}.styleClasses"
	v-on="${_state}.eventHandlers"
	v-bind="${_state}.attributes"
	v-if="${_state}.visible"
	class="split-panel"
	row wrap text-xs-center
>
	
	$!component.left.render()
	$!component.right.render()
	
</v-layout>