<v-toolbar uuid="${_uuid}" class="navbar $!{component.cssStyleString}" v-on="${_state}.eventHandlers"
	v-model="${_state}" app absolute clipped-left v-bind="${_state}.attributes"
	>

	$!{component.leftActionItem.render()}
	
	<v-toolbar-title>{{localize(${_state}.header.text)}}</v-toolbar-title>
	
	#foreach( $!child in $!component.children )
		$!child.render()
	#end
    
    $!{component.rightActionItem.render()}
</v-toolbar>