<!-- Single button -->
<v-select 
	uuid="${_uuid}" 
	:class="${_state}.styleClasses"
	$!events 
	label="$!{component.text}" dense 
	:items="${_state}.menuItems"
	:prepend-icon="${_state}.leftIcon"
	:append-icon="${_state}.rightIcon"
	v-model="${_state}.selectedItem"
	:editable="${_state}.editable"
	item-value="id" item-text="text" item-disabled="disabled" item-avatar="icon"
	v-bind="${_state}.attributes"
>
</v-select>
