<${component.tagName()} uuid="$!{component.uuid()}" class="$!{component.getCssStyleString()}"
	$!{component.getAttributeString()}  $!events>
	
	#foreach( $!child in $!component.children() )
		$!child.render()
	#end
</${component.tagName()}>
