<!-- Single button -->
<v-select uuid="$!{component.uuid}" $!events 
	class="$!{component.cssStyleString}"
	label="$!{component.text}" dense 
	:items="componentStates['${component.uuid}'].menuItems"
	prepend-icon="$!{component.leftIcon}"
	append-icon="$!{component.rightIcon}"
	v-model="componentStates['${component.uuid}'].selectedItem"
	#if ( $!{component.editable} ) editable #end
	item-value="id" item-text="text" item-disabled="disabled" item-avatar="icon"
>
</v-select>
