<v-btn
	uuid="${_uuid}" 
	:class="${_state}.styleClasses"
	:flat="${_state}.flat"
	:block="${_state}.expandFullWidth"
	:color="${_state}.color"
	:icon="${_state}.icon && !${_state}.text" 
	v-bind="${_state}.attributes"
	v-on="${_state}.eventHandlers"
	>
	
	$!{component.icon.render()}
	
	{{localize(${_state}.text)}}
	
</v-btn>