<v-btn
	uuid="${_uuid}" 
	:class="${_state}.styleClasses"
	$!events
	:target="${_state}.navigationTarget" 
	:href="${_state}.location"
	depressed flat color="primary"
	>

	$!{component.icon.render()}
	
	{{${_state}.text}}
</v-btn>
