<v-navigation-drawer 
	uuid="${_uuid}" 
	:class="${_state}.styleClasses"
	v-model="${_state}.visible"
	:mini-variant.sync="${_state}.minimized"
	:stateless="true" 
	:disable-resize-watcher="true"
	:hide-overlay="true"
	
	v-bind="${_state}.attributes"
	
	
	app absolute clipped 
	>
	
	$!{component.toolBar.render()}
	
	#foreach( $!child in $!component.children )
		$!child.render()
	#end
</v-navigation-drawer>