<div class="sidebar-navicontainer" >
	<div class="sidebar-headbox">
		<span class="sidebar-header">$!{component.title()}</span>
		<a class="sidebar-toggle">
			Hide
		</a>
	</div>
	<ul class="nav">
		#foreach( $!child in $!component.children() )
			$!child.render()
		#end
	</ul>
</div>
