#macro( attributes )
	uuid="${_uuid}" :class="${_state}.styleClasses" $!{component.attributeString}  v-on="${_state}.eventHandlers"
#end

<${component.tagName} #if (!${component.useWrapper}) #attributes #end>
	
	#if (${component.useWrapper})
		<!--
			this is a hack to be able  to transport the attributes, 
			vue is not preserving them if it is on a v-container or something like that
		-->
		<div #attributes>
	#end
		
			#foreach( $!child in $!component.children )
				$!child.render()
			#end
		
	#if (${component.useWrapper})
		</div>
	#end
</${component.tagName}>
