<a type="$!{component.componentType().internalName()}" uuid="$!{component.uuid()}" href="$!component.location()" class="$!{component.getCssStyleString()}" registeredEvents="$!{component.getRegisteredEventsString()}">
	{{componentStates.$!{component.uuid()}.text}}
</a>