<body uuid="${_uuid}" class="hidden" :class="${_state}.styleClasses" $!events>
	<v-app data-app >
		<!-- ERROR DIALOG -->
		<v-snackbar :timeout="200000" color="red" top  v-model="exception.visible">
			 <v-container fluid ma-0 pa-0>
			 	<v-layout row justify>
					<v-flex xs2 mt-1>
						<v-icon medium dark>error</v-icon>
					</v-flex>
					<v-flex xs10 ma-2>
						{{ exception.message }}
					</v-flex>
				</v-layout>
			</v-container>
			
			<v-btn flat @click.native="exception.visible = false">
              <v-icon>close</v-icon>
			</v-btn>
		</v-snackbar>
	
		<!-- COMPONENTS -->
		#foreach( $!child in $!component.children )
			$!child.render()
		#end
	</v-app>
</body>