<v-layout row wrap class="sub-container">
	uuid="${_uuid}" 
	:class="${_state}.styleClasses"
	v-on="${_state}.eventHandlers"
	v-bind="${_state}.attributes"
	v-show="${_state}.visible"
>
	
	#foreach( $!child in $!component.children )
		$!child.render()
	#end	
</v-layout>