<v-navigation-drawer 
	uuid="${_uuid}" 
	:class="${_state}.styleClasses"
	v-model="${_state}.visible"
	:mini-variant.sync="${_state}.minimized"
	clipped app 
	:permanent="${_state}.visible"
	:stateless="true" :touchless="true" 
	:disable-resize-watcher="true"
	:hide-overlay="false"
	>
	
	$!{component.toolBar.render()}
	
	#foreach( $!child in $!component.children )
		$!child.render()
	#end
</v-navigation-drawer>