<v-navigation-drawer 
	uuid="${_uuid}" 
	:class="${_state}.styleClasses"
	v-model="${_state}.visible"
	:mini-variant="${_state}.minimized"
	v-bind="${_state}.attributes"
	app fixed clipped
	:class="${_state}.color"
	watch-for-state-change="[ 'visible' ]"
	v-if="${_state}.visible"
	:permanent="${_state}.permanent">
	
	$!{component.toolBar.render()}
	
	#foreach( $!child in $!component.children )
		$!child.render()
	#end
</v-navigation-drawer>