<v-toolbar uuid="$!{component.uuid()}" class="navbar $!{component.getCssStyleString()}" $!events>
	<v-toolbar-side-icon></v-toolbar-side-icon>
	<v-toolbar-title>$!{component.header().render()}</v-toolbar-title>
	
	<v-spacer></v-spacer>
	
    <v-toolbar-items class="hidden-sm-and-down">
		#foreach( $!child in $!component.children() )
			$!child.render()
		#end
    </v-toolbar-items>
</v-toolbar>