<v-toolbar uuid="$!{component.uuid}" class="navbar $!{component.cssStyleString}" $!events
	v-model="componentStates['${component.uuid}']" app absolute clipped-left
	>

	$!{component.leftActionItem.render()}
	
	<v-toolbar-title>$!{component.header.text}</v-toolbar-title>
	
	#foreach( $!child in $!component.children )
		$!child.render()
	#end
    
    $!{component.rightActionItem.render()}
</v-toolbar>