<head>
	<meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <title>$component.title()</title>
    
    <!-- stylesheets -->
	#foreach($!stylesheet in $!component.stylesheets())
		$!stylesheet.render()	
	#end
	
	<!-- scripts -->
	#foreach($!script in $!component.scripts())
		$!script.render()	
	#end
</head>