<v-navigation-drawer 
	v-model="componentStates['${component.uuid}'].visible"
	:mini-variant.sync="componentStates['${component.uuid}'].minimized"
	app :stateless="true" :temporary="componentStates['${component.uuid}'].floating"
	:disable-resize-watcher="true" #if ( $!component.horizontalOrientation.internalName == "right" ) right #end >
	
	$!{component.toolBar.render()}
	
	#foreach( $!child in $!component.children )
		$!child.render()
	#end
</v-navigation-drawer>