 <v-text-field
	uuid="${_uuid}" 
	:class="${_state}.styleClasses" $!events
	name="input-$!{component.uuid}"
	:label="localize(${_state}.label)"
	:placeholder="localize(${_state}.placeholder)"
	:multi-line="${_state}.multiLine"
	:value="${_state}.text"
	v-bind="${_state}.attributes"
	:flat="${_state}.flat"
	v-show="${_state}.visible"
	:min="${_state}.minLength"
	:max="${_state}.maxLength"
	:counter="${_state}.counterVisible"
	:required="${_state}.isRequired"
	>
          
</v-text-field>