<v-btn uuid="$!{component.uuid}" 
	class="$!{component.cssStyleString}" $!events
	:flat="componentStates.${component.uuid}.isFlat"
	:icon="componentStates.${component.uuid}.icon && !componentStates.${component.uuid}.text" 
	>
	
	$!{component.icon.render()}
	
	{{componentStates.$!{component.uuid}.text}}
	
</v-btn>