<v-navigation-drawer
	uuid="${_uuid}"  
	:class="${_state}.styleClasses" 
	v-model="${_state}.visible"
	:mini-variant="${_state}.minimized"
	app :stateless="true"
	:temporary="${_state}.floating"
	:disable-resize-watcher="true" 
	:right="${_state}.horizontalOrientation == 'right'" 
	v-bind="${_state}.attributes"
	watch-for-state-change="[ 'visible' ]"
	v-show="${_state}.visible"
	:permanent="${_state}.permanent">
	
	$!{component.toolBar.render()}
	
	#foreach( $!child in $!component.children )
		$!child.render()
	#end
</v-navigation-drawer>