<v-toolbar uuid="${_uuid}" 
	:class="${_state}.styleClasses"
	v-on="${_state}.eventHandlers"
	app clipped-left fixed
	v-bind="${_state}.attributes"
	:dense="${_state}.slim"
	:color="${_state}.color"
	v-show="${_state}.visible">

	$!{component.leftActionItem.render()}
	
	<v-toolbar-title uuid="${_state}.header.uuid" v-if="${_state}.header != null & ${_state}.header.visible" class="padding-right-20" :href="${_state}.header.location">
		{{localize(${_state}.header.text)}}
	</v-toolbar-title>
	
<!-- 	<v-toolbar-items class="hidden-sm-and-down"> -->
		#foreach( $!child in $!component.children )
			$!child.render()
		#end
<!-- 	</v-toolbar-items> -->
    
    $!{component.rightActionItem.render()}
</v-toolbar>