<!-- <v-treeview -->
<!-- 	uuid="${_uuid}" -->
<!-- 	:class="${_state}.styleClasses"  -->
<!-- 	v-bind="${_state}.attributes" -->
<!-- 	v-show="${_state}.visible" -->
<!-- 	v-on="${_state}.eventHandlers" -->
<!-- 	:items="${_state}.children"> -->
<!-- 	:item-text="title" -->
	
<!-- 	<!-- --> 
<!-- </v-treeview> -->

<v-list
	uuid="${_uuid}" 
	:class="${_state}.styleClasses" 
	v-bind="${_state}.attributes"
	v-show="${_state}.visible"
	v-on="${_state}.eventHandlers"
	>
	
	#foreach( $!child in $!component.children )
		$!child.render()
	#end
	
</v-list>
