<v-data-table
	uuid="${_uuid}"
	:class="${_state}.styleClasses"
	:headers="${_state}.columns"
	:items="${_state}.children"
	class="elevation-1"
	v-on="${_state}.eventHandlers"
	:select-all="${_state}.allowSelect"
	:hide-actions="!${_state}.showActions"
	:hide-headers="!${_state}.showColumnHeader"
	:no-data-text="localize(${_state}.noDataText)"
	:no-results-text="localize(${_state}.noResultsText)"
	:rows-per-page-items="${_state}.rowsPerPageItems"
	:rows-per-page-text="localize(${_state}.rowsPerPageText)"
	:search="${_state}.filterText"
	watch-for-state-change="[ 'pagination' ]"
	:pagination.sync="${_state}.pagination"
	:selected="${_state}.selected"
	>

	<template v-slot:headers="props">
	<tr>
		<th v-if="${_state}.allowSelect && ${_state}.allowSelectAll">
			<v-checkbox 
				v-if="${_state}.allowSelectAll"
				v-model="${_state}.allSelected == 'true'"
				:input-value="props.all"
				:indeterminate="${_state}.allSelected == 'intermediate'"
				primary
				hide-details
				@click.stop="handleEvent('selectAll', '${_uuid}', { allSelected: !${_state}.allSelected })"
			>
				
			</v-checkbox>
		</th>
		<th
			v-for="header in props.headers"
			:key="header.value"
			:class="['column sortable text-xs-left', ${_state}.pagination.descending ? 'desc' : 'asc', header.value === ${_state}.pagination.sortBy ? 'active' : '']"
			>
			
			{{ localize(header.text) }}
			<v-icon small>arrow_upward</v-icon>
		</th>
	</tr>
	</template>
	
<!-- 	<template slot="headerCell" slot-scope="header"> -->
<!-- 		{{ localize(header.header.text) }} -->
<!-- 	</template> -->
	
	<template v-slot:items="props">
		<tr :active="props.item.selected" @click="props.item.selected = !props.item.selected">
			<td v-if="${_state}.allowSelect">
				<v-checkbox
					v-model="props.item.selected"
					primary hide-details
					@click.stop="handleEvent('select', '${_uuid}', { childId: props.item.id })"
				>
				</v-checkbox>
			</td>
	
			<td :data-row-id="props.id" v-for="header in ${_state}.columns">
				{{ props.item[header.value] }}
			</td>
		</tr>
	</template>
</v-data-table>