<v-menu 
	uuid="${_uuid}" 
	offset-y
	:class="${_state}.styleClasses"
	v-on="${_state}.eventHandlers" 
	v-bind="${_state}.attributes"
	v-if="${_state}.visible"
>
	<v-btn slot="activator" :flat="${_state}.flat" :color="${_state}.color">
		$!{component.icon.render()}
		{{localize(${_state}.text)}}
		<v-icon dark>arrow_drop_down</v-icon>
	</v-btn>
	
	<v-list>
		<v-list-tile v-for="item in ${_state}.menuItems" :key="item.id" @click="">
			<v-list-tile-title>{{ localize(item.text) }}</v-list-tile-title>
		</v-list-tile>
	</v-list>

</v-menu>
