<template v-show="${_state}.visible">
	<template v-if="${_state}.nodeType == 'DEFAULT'">
		<v-list-group v-if="${_state}.hasChildren"
			uuid="${_uuid}"
			:class="${_state}.styleClasses"
			v-model="${_state}.expanded"
			:prepend-icon="${_state}.icon.icon"
			v-show="${_state}.visible"
			>
			
			<v-list-tile slot="activator" class="list-hotfix" v-on="${_state}.eventHandlers" :href="${_state}.link" >
				<v-list-tile-content>
					<v-list-tile-title :title="localize(${_state}.title)">{{localize(${_state}.title)}}</v-list-tile-title>
					<v-list-tile-sub-title :title="localize(${_state}.subTitle)">{{localize(${_state}.subTitle)}}</v-list-tile-sub-title>
				</v-list-tile-content>
			</v-list-tile>
		
			<v-list
				uuid="${_uuid}" 
				:class="${_state}.styleClasses" 
				expand
				>
				#foreach( $!child in $!component.children )
					$!child.render()
				#end
			</v-list>
			
		</v-list-group>
			
		<v-list-tile v-if="!${_state}.hasChildren" v-on="${_state}.eventHandlers" :href="${_state}.link" v-show="${_state}.visible" >
			<v-list-tile-action>
				$!{component.icon.render()}
			</v-list-tile-action>
			<v-list-tile-content>
				<v-list-tile-title :title="localize(${_state}.title)">
					{{localize(${_state}.title)}}
					<v-badge color="blue">
						{{localize(${_state}.badge)}}
					</v-badge>
				</v-list-tile-title>
				<v-list-tile-sub-title :title="localize(${_state}.subTitle)" v-if="${_state}.subTitle">
					{{localize(${_state}.subTitle)}}
				</v-list-tile-sub-title>
			</v-list-tile-content>
		</v-list-tile>
	</template>
	
	<template v-else-if="${_state}.nodeType == 'SPLITTER'" v-show="${_state}.visible">
		<div class="splitter">
			
		</div>
	</template>
	
	<template v-else-if="${_state}.nodeType == 'SUB_HEADER'" v-show="${_state}.visible">
		<v-subheader :title="localize(${_state}.title)" >{{localize(${_state}.title)}}</v-subheader>
	</template>
</template>