<v-container 
	uuid="${_uuid}"
	$!component.gutterSize text-xs-center 
	
	v-show="${_state}.visible" 
	v-bind="${_state}.attributes"
	:class="${_state}.styleClasses">

	<v-layout
		wrap row $!component.behavior
		>
		
		#foreach( $!child in $!component.children )
			<v-flex $!component.size>
				$!child.render()
			</v-flex>
		#end
	</v-layout>
	
</v-container>