<v-btn
	uuid="${_uuid}" 
	:class="${_state}.styleClasses"
	v-on="${_state}.eventHandlers"
	:block="${_state}.expandHorizontally"
	:target="${_state}.navigationTarget" 
	:href="${_state}.location"
	depressed flat color="primary"
	v-bind="${_state}.attributes"
	v-show="${_state}.visible"
	>

	<v-template v-if="${_state}.icon" style="height: 100%">
		$!{component.icon.render()}
	</v-template>
	<v-template v-else style="height: 100%">
		$!{component.image.render()}
	</v-template>
	
	{{localize(${_state}.text)}}
</v-btn>
